
            <ul>
                <li><a href="/library/">MainPage</a></li>
                <li><a href="/ksiazka/">ksiazka</a></li>
                <li><a href="/autor/">autor</a></li>
                <li><a href="/gatunki/">gatunki</a></li>
                {#<li><a href="{{ path('product_category_index') }}">Categories</a>#}
                        {#{% for article in articles %}#}
                            {#<ul>#}
                                {#<li><a href="{{ path('product_category_show', {'id': article.id}) }}">{{ article.name }}</a></li>#}
                            {#</ul>#}
                        {#{% endfor %}#}
                {#</li>#}
            </ul>
