{% extends 'base2.html.twig' %}

{% block title %}Edit Gatunki{% endblock %}

{% block body %}
    <h1>Edit Gatunki</h1>

    {{ include('gatunki/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gatunki_index') }}">back to list</a>

    {{ include('gatunki/_delete_form.html.twig') }}
{% endblock %}
